<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div id="chatbot-fab">
        <i class="fa-solid fa-comments"></i>
    </div>
    <div id="chat-container" style="display:none;">
        <div id="chat-box"></div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Escribe tu mensaje..." autocomplete="off">
            <button type="submit">Enviar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/chatbot.js') }}"></script>
</body>

</html>